.job-listings--container {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: row;
	margin: 2rem 0;
}

.job-listings--main-container {
	display: flex;
	padding: 2rem;
	flex-direction: column;
}
